body{
    background-image: url("/assets/images/pngkey.com-guy-fieri-png-1518961.png");
    /* position: absolute; */
}   
 .jumbotron{
     max-height: 11em;
     background-color: #ffffff;
 }

p{
    margin: 0;
}

.btn{
    width: 6em;
    height: 3em;
}

/* button:active{
    background-color: red;
} */

#content{
    background-color: #efefef;
    padding: 2em;
    height: 55em;
    width: 20em;
    margin: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 